

body{
  font-family: helvetica;
}


.container{
  
  margin: 0 auto;
  padding: 0 20px;
}


.flex{
  display: flex;
}

.relative{
  display: relative;
}

.justify-between{
  justify-content: space-between;
}

.justify-end{
  justify-content: flex-end;
}

.align-center{
  align-items: center;
}


.w-100 {
  width: 100%;
}

header{
  height: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: red;
  text-align: left;
  font-family: helvetica;
  color: white;
  font-weight: bold;
  font-size: large;
  padding: 10px 20px;

}

.login{

}



nav{
  display: flex;
  align-items: left;
  background-color:	#696969;
  height: 40px;
  font-family: helvetica;
  font-size: small;
  text-decoration: underline;
  color: white;

}

.column2{
  padding: 5px;
}

.column3{
  flex: 3;
}

.column4 {
  flex: 1;
  font-weight: bold;
  /* padding: 12px; */
  width: 300px;
}

footer{
  margin:9px;
  height: 60px;
  text-align: right;
  background-color:	#696969;
  color:white;
  font-size: small;

}
